button{
    background-color: #e50914;
    color: white;
}

button:hover{
    background-color: #e50914;
    color: white;
}
img{
    width: 100%;
    margin-bottom: 10px;
    cursor: pointer;

}
h5{
    color: #ffffff;
}